@charset "UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#F2E8B3, #F2B705);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #493702 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2B705;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
h2 {
    color: #9FA3A6;
}
    p{
 text-align: justify;

    }